@use '../utils/variables' as *;

.feature-card {
  background: white;
  padding: $spacing-large;
  border-radius: $border-radius-large;
  box-shadow: $shadow-base;
  text-align: center;

  h3 {
    color: $primary-color;
    margin-bottom: $spacing-base;
  }
} 