@use '../utils/variables' as *;
@use '../utils/mixins' as *;

:root {
  --thumb-slide-width: 82px;
}

.stories {
  width: 100%;
  padding-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include responsive(mobile) {
    padding-top: 60px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: relative;
    overflow: visible;

    &-title {
      position: relative;
      max-width: 655px;
      width: 100%;
      margin: 0 auto;
      height: 165px;
      margin-bottom: 70px;
      overflow: visible;

      @include responsive(mobile) {
        max-width: 285px;
        height: 105px;
        margin-bottom: 50px;
      }

      &-item {
        font-weight: normal;
        line-height: 1;
        background-color: white;
        box-shadow: 4px 4px 64px 0px rgba(255, 38, 176, 0.25);
        padding: 16px 32px;
        border-radius: 50px;
        position: absolute;
        white-space: nowrap;
        font-size: 48px;

        @include responsive(mobile) {
          font-size: 24px;
          padding: 12px 24px;
        }

        &_1 {
          left: 0;
          top: 0;
          transform: rotate(-1deg);
          z-index: 10;
          max-width: 474px;
          width: 100%;
          height: 90px;

          @include responsive(mobile) {
            max-width: 255px;
            height: 55px;
          }
        }

        &_2 {
          right: 0;
          bottom: 0;
          transform: rotate(-3deg);
          z-index: 9;
          max-width: 384px;
          width: 100%;
          height: 90px;

          @include responsive(mobile) {
            max-width: 210px;
            height: 55px;
          }
        }
      }

      &-icon {
        position: absolute;
        object-fit: contain;
        object-position: center;
        z-index: 11;
        min-width: 64px;
        width: 64px;
        height: 77px;

        @include responsive(mobile) {
          min-width: 40px;
          width: 40px;
          height: 48px;
        }

        &_1 {
          right: 140px;
          top: 20px;

          @include responsive(mobile) {
            right: 10px;
            top: 15px;
          }
        }

        &_2 {
          transform: rotate(-5deg);
          left: 80px;
          bottom: 30px;

          @include responsive(mobile) {
            left: 45px;
            bottom: 25px;
          }
        }

        &_3 {
          transform: rotate(4deg);
          right: 100px;
          bottom: -40px;

          @include responsive(mobile) {
            right: 40px;
            bottom: -25px;
          }
        }

        &_4 {
          min-width: 820px;
          height: 230px;
          z-index: 1;
          left: 50%;
          top: 40%;
          transform: translate(-50%, -50%);

          @include responsive(mobile) {
            display: none;
          }
        }
      }
    }
  }

  &__slider {
    position: relative;
    width: 100%;
    max-width: 1160px;
    margin-bottom: 70px;
    
    @include responsive(tablet) {
      margin-bottom: 120px;
    }

    &-previews {
      width: 100%;
      margin-bottom: 20px;

      @include responsive(mobile) {
        display: none;
      }
      
      &-card {
        &-active {
          transform: rotate(-10deg) !important;
          opacity: 1 !important;
        }
      }

      &_cards {
        width: 100%;
        overflow: hidden;
        padding: 0 10px;

        .swiper-wrapper {
          padding: 10px 0;
        }
        
        .swiper-slide {
          height: 80px;
          width: var(--thumb-slide-width) !important;
          flex-shrink: 0;
          cursor: pointer;
          border-radius: 12px;
          overflow: hidden;
          opacity: 0.6;
          transition: 0.3s ease;
          
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
          }
        }
      }
    }

    &-stories {
      position: relative;
      width: 100%;

      .stories__slider-button_next,
      .stories__slider-button_prev {
        display: none;
  
        @include responsive(mobile) {
          display: block;
        }
      }
    }
  }

  &__cards {
    width: 100%;
    overflow: hidden;

    .swiper-wrapper {
      height: auto;
      align-items: stretch;
    }
    
    .swiper-slide {
      height: auto;
    }
  }

  &__card {
    display: flex !important;
    align-items: stretch;
    gap: 24px;
    padding: 32px;
    background-color: white;
    border-radius: 32px;
    overflow: hidden;
    height: 100%;
    min-height: 450px;
    width: 100%;


    @include responsive(mobile) {
      padding: 10px;
      border-radius: 24px;
      flex-direction: column;
      gap: 16px;
      min-height: auto;
    }

    &-span {
      @include responsive(mobile) {
        display: none;
      }
    }

    &-image {
      max-width: 400px;
      width: 100%;
      height: 400px;
      overflow: hidden;
      border-radius: 20px;
      position: relative;
      background-color: black;
      color: white;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      flex-shrink: 0;
      gap: 12px;
      padding: 16px;

      @include responsive(mobile) {
        max-width: none;
        height: 280px;
        padding: 12px;
      }

      &-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
      }
    }

    &-overlay {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(0deg,rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 50%);
      z-index: 2;
      opacity: .5;
    }
    
    &-title {
      z-index: 4;
      font-size: 32px;
      margin-bottom: 0;
      font-weight: bold;
      line-height: 1;

      @include responsive(mobile) {
        font-size: 24px;
      }
    }
    
    &-badge {
      font-size: 12px;
      display: flex;
      align-items: center;
      gap: 6px;
      line-height: 1;
      z-index: 5;
      
      @include responsive(mobile) {
        font-size: 14px;
        top: 20px;
        left: 20px;
      }

      &-type {
        font-size: 12px;
        color: #fff;
        display: block;
        background: linear-gradient(90deg, #FF26B0 0%, #FF7ACB 100%);
        border-radius: 50px;
        padding: 8px;
        line-height: 1;
        
        @include responsive(mobile) {
          font-size: 10px;
          padding: 6px;
        }
      }
    }

    &-content {
      display: flex;
      flex-direction: column;
      gap: 24px;

      @include responsive(mobile) {
        gap: 16px;
        height: 100%;
      }

      &-title {
        font-size: 32px;
        font-weight: bold;
      }
    }
    
    &-text {

      p {
        font-size: 16px;
        line-height: 1.2;
        margin-bottom: 16px;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    &-btn {
      width: 100%;
      margin-top: auto;

      &-category {
        font-size: 12px;
        display: flex;
        align-items: center;
        justify-content: center;
        line-height: 1;
        padding: 6px 12px;
        border-radius: 20px;
        background-color: rgba(255, 255, 255, 0.2);
        margin-left: 12px;

        &-icon {
          @include responsive(mobile) {
            display: none;
          }
        }
      }
    }
  }

  &__slider-button_next,
  &__slider-button_prev {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 48px;
    height: 48px;
    border-radius: 50%;
    z-index: 10;
    cursor: pointer;
    transition: opacity 0.3s;
    background-image: url('../../assets/icon_arrow-slider-bubble.svg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    display: none;
    
    @include responsive(desktop) {
      top: calc(100% + 16px);
      display: block;
    }
    
    &.swiper-button-disabled {
      opacity: 0;
      pointer-events: none;

      @include responsive(desktop) {
        opacity: .3;
      }
    }
  }

  &__slider-button_prev {
    left: -12px;
    transform: translateY(-50%) translateX(-100%) rotate(180deg);
    
    @include responsive(desktop) {
      transform: translateY(0%) translateX(-100%) rotate(180deg);
      left: calc(50% - 16px);
    }
  }

  &__slider-button_next {
    right: -12px;
    transform: translateY(-50%) translateX(100%);
    
    @include responsive(desktop) {
      transform: translateY(0%) translateX(100%);
      right: calc(50% - 16px);
    }
  }
}